/* color */
/* background */
/* globle */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1; }

body {
  font-family: -apple-system,Helvetica,Roboto;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: block; }

.clearfix:after {
  clear: both; }

.wrapper {
  width: 960px;
  max-width: 100%;
  margin: 0 auto; }

/* head */
.banner {
  background-color: white; }
  .banner p {
    float: left;
    font-size: 3rem;
    font-weight: 800;
    line-height: 5.25rem;
    color: #2C3341;
    padding-top: 74px;
    padding-left: 40px;
    text-align: left; }
  .banner a {
    display: block;
    margin-top: 1.125rem;
    margin-bottom: 5rem;
    font-size: 1rem;
    color: #828FA9;
    font-weight: 800;
    line-height: 1.5rem;
    text-decoration: none; }
    .banner a .icon-arrow_right {
      line-height: 1.5rem;
      padding-top: 4px;
      font-size: 20px; }
    .banner a:hover {
      color: #0CDC8E; }
  .banner .logo {
    float: right;
    padding-top: 78px;
    padding-right: 40px; }
    .banner .logo img {
      width: 90px; }
  .banner .logo_small {
    display: none; }

/* link */

.link {
  background-color: #ffffff;
  margin-bottom: 40px;
  text-aglin: center;
  padding: 0 40px 0 40px; }

.card {
  border-radius: 12px;
  margin-bottom: 40px;
  width: 100%;
  height: 220px; }
  .card .content {
    padding: 50px 40px 40px 40px;
    font-weight: 800; }
    .card .content h3 {
      font-size: 1.5rem;
      color: #FFFFFF;
      opacity: 0.8;
      letter-spacing: 1px; }
    .card .content h1 {
      display: block;
      font-size: 48px;
      line-height: 58px;
      margin: 0;
      color: #FFFFFF;
      letter-spacing: 2px; }
    .card .content a {
      display: block;
      text-decoration: none;
      font-size: 1rem;
      line-height: 1.5rem;
      color: #FFFFFF;
      margin-top: 20px;
      opacity: 0.8; }
      .card .content a:hover {
        opacity: 1; }
      .card .content a .icon-arrow_right {
        line-height: 1.5rem;
        padding-top: 4px;
        font-size: 20px; }

.dribbble {
  background: url(../images/dribbble@2x.png), linear-gradient(to right, #FF5DBC, #FF96DF);
  background-repeat: no-repeat;
  background-size: cover; }

.photo {
  background: url(../images/500px@2x.png), linear-gradient(to right, #0099E5, #00C9F4);
  background-repeat: no-repeat;
  background-size: cover; }

.half {
  display: flex; }

.half_card {
  flex: 1; }

.half_card + .half_card {
  margin-left: 40px; }

.github {
  background: url(../images/github@2x.png), linear-gradient(to right, #464C57, #606774);
  background-repeat: no-repeat;
  background-size: cover; }

.codepen {
  background: url(../images/codepen@2x.png), linear-gradient(to right, #464C57, #606774);
  background-repeat: no-repeat;
  background-size: cover; }

/* get in touch */
.touch {
  background-color: #F7F8F9;
  text-align: center; }
  .touch h1 {
    margin: 0;
    padding: 80px 0 45px 0;
    font-size: 48px;
    line-height: 58px;
    color: #2C3341; }

.all_box {
  padding: 0 40px 0 40px;
  display: flex; }

.box {
  background-color: #FFFFFF;
  border-radius: 12px;
  border: 1px solid #E3E5EB;
  height: 220px;
  margin-bottom: 80px;
  flex: 1; }
  .box p {
    color: #828FA9;
    font-size: 1.2rem;
    line-heigth: 30px;
    font-weight: 300; }

.box + .box {
  margin-left: 40px; }

.icon {
  margin: 60px auto 20px auto; }
  .icon img {
    width: 48px; }

/* response */
@media only screen and (max-width: 768px) {
  .banner {
    background-color: white; }
    .banner p {
      float: left;
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 3.5rem;
      color: #2C3341;
      
      padding-top: 74px;
      padding-left: 40px;
      text-align: left; }
    .banner a {
      display: block;
      margin-top: 1.125rem;
      margin-bottom: 5rem;
      font-size: 1rem;
      color: #828FA9;
      font-weight: 800;
      line-height: 1.5rem;
      text-decoration: none; }
      .banner a .icon-arrow_right {
        line-height: 1.5rem;
        padding-top: 4px;
        font-size: 20px; }
      .banner a:hover {
        color: #0CDC8E; }
    .banner .logo {
      float: right;
      padding-top: 78px;
      padding-right: 40px; }
      .banner .logo img {
        width: 64px; }
  .card {
    border-radius: 12px;
    margin-bottom: 40px;
    width: 100%;
    height: 180px; }
    .card .content {
      padding: 36px 40px 40px 40px;
      font-weight: 800; }
      .card .content h3 {
        font-size: 1.5rem;
        color: #FFFFFF;
        opacity: 0.8;
        letter-spacing: 1px; }
      .card .content h1 {
        display: block;
        font-size: 48px;
        line-height: 58px;
        margin: 0;
        color: #FFFFFF;
        letter-spacing: 2px; }
      .card .content a {
        display: block;
        text-decoration: none;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #FFFFFF;
        margin-top: 8px;
        opacity: 0.8; }
        .card .content a:hover {
          opacity: 1; }
        .card .content a .icon-arrow_right {
          line-height: 1.5rem;
          padding-top: 4px;
          font-size: 20px; }
  .touch {
    background-color: #F7F8F9;
    text-align: center; }
    .touch h1 {
      margin: 0;
      padding: 60px 0 45px 0;
      font-size: 2rem;
      line-height: 58px;
      color: #2C3341; } }

@media only screen and (max-width: 414px) {
  .banner {
    background-color: white; }
    .banner p {
      float: left;
      font-size: 1.75rem;
      font-weight: 800;
      line-height: 3rem;
      color: #2C3341;
      
      padding-top: 0px;
      padding-left: 40px;
      text-align: left; }
    .banner a {
      display: block;
      margin-top: 1.125rem;
      margin-bottom: 2rem;
      font-size: 1rem;
      color: #828FA9;
      font-weight: 800;
      line-height: 1.5rem;
      text-decoration: none; }
      .banner a .icon-arrow_right {
        line-height: 1.5rem;
        padding-top: 4px;
        font-size: 20px; }
      .banner a:hover {
        color: #0CDC8E; }
    .banner .logo {
      display: none; }
    .banner .logo_small {
      display: block;
      float: left;
      padding-top: 40px;
      padding-left: 40px; }
      .banner .logo_small img {
        width: 64px; }
  .card {
    border-radius: 12px;
    margin-bottom: 40px;
    width: 100%;
    height: 120px; }
    .card .content {
      padding: 20px 20px 20px 20px;
      font-weight: 800; }
      .card .content h3 {
        font-size: 1rem;
        color: #FFFFFF;
        opacity: 0.8;
        letter-spacing: 1px; }
      .card .content h1 {
        display: block;
        font-size: 1.75rem;
        line-height: 2.5rem;
        margin: 0;
        color: #FFFFFF;
        letter-spacing: 1px; }
      .card .content a {
        display: block;
        text-decoration: none;
        font-size: 1rem;
        line-height: 2rem;
        color: #FFFFFF;
        margin-top: 0px;
        opacity: 0.8; }
        .card .content a:hover {
          opacity: 1; }
        .card .content a .icon-arrow_right {
          line-height: 1.5rem;
          padding-top: 4px;
          font-size: 20px; }
  .box {
    background-color: #FFFFFF;
    border-radius: 12px;
    border: 1px solid #E3E5EB;
    height: 120px;
    margin-bottom: 40px;
    flex: 1; }
    .box p {
      color: #828FA9;
      font-size: 1.2rem;
      line-heigth: 30px;
      font-weight: 300; }
  .all_box {
    padding: 0 40px 10px 40px;
    display: block; }
  .box + .box {
    margin-left: 0px; }
  .icon {
    margin: 24px auto 16px auto; }
    .icon img {
      width: 32px; }
  .half {
    display: block; }
  .half_card {
    flex: 1; }
  .half_card + .half_card {
    margin-left: 0px; } }
